/**
 * Filip Johansson 2024
 */

/* To do: host locally */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");

body {
  margin: 0;
  padding: 0;

  font-family: "Poppins";
  --font-title: "Poppins", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-mono: "Fira Code", monospace;
  --font-size-xsmall: 16px;
  --font-size-small: 20px;
  --font-size-medium: 28px;
  --font-size-large: 40px;
  --font-size-xlarge: 64px;
  --font-size-button: 13px;

  /* Colors */
  --color-body: #3c3c43;

  --color-black: #12131c;
  --color-black-hover: #1e2030;
  --color-white: #ffffff;
  --color-gray: #f8f8f8;
  --color-orange: #ffa500;
  --color-yellow: #f2f3b4;
  --color-green: #b6eebd;
  --color-purple: #9368e8;

  --color-blue: #293be0;
  --color-blue-light: #5e6ce8;
  --color-red: #ff0000;
  --color-pink: #ff69b4;

  --button-hover-color: #1e2030;

  /* Margins */
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 32px;

  /* Radius */
  --radius-small: 4px;
  --radius-medium: 8px;
  --radius-large: 16px;

  /* Weights */
  --button-font-weight: 600;

  /* Shadows */
  --box-shadow-button: 0 0 6px 0px #1e203066;

  /* Styling */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 
 * Header 
 */
header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  padding: var(--spacing-large);
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--color-white);
}

@media only screen and (max-width: 600px) {
  header {
    justify-content: flex-start;
    padding: var(--spacing-medium) var(--spacing-large);
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a {
  font-family: "Poppins";
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: var(--color-black);
  margin-right: var(--spacing-small);
}

nav a:after {
  display: block;
  content: "";
  border-bottom: solid 2px var(--color-black-hover);
  transform: scaleX(0);
  transition: transform 120ms ease-in-out;
  transform-origin: 0% 50%;
}

nav a:hover {
  color: var(--color-black-hover);
}

nav a:visited {
  color: var(--color-black);
}

nav a:hover:after {
  transform: scaleX(1);
}

/**/

main {
  max-width: 800px;
  margin: 0 auto;
  padding-top: var(--spacing-large);
  padding-bottom: var(--spacing-large);
}

@media only screen and (max-width: 600px) {
  main {
    padding: var(--spacing-large);
    padding-top: 0;
  }
}

/**/

footer {
  padding: var(--spacing-large);
  background-color: var(--color-gray);
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0 0 var(--spacing-medium) 0;
  font-family: var(--font-title);
  color: var(--color-black);
}

h1 {
  font-size: var(--font-size-xlarge);
  border-bottom: 1px solid #00000022;
  padding-bottom: var(--spacing-medium);
  margin-bottom: var(--spacing-large);
}
h2 {
  font-size: var(--font-size-large);
  margin: var(--spacing-large) 0 var(--spacing-medium) 0;
}
h3 {
  font-size: var(--font-size-medium);
  margin: var(--spacing-medium) 0 var(--spacing-small) 0;
}
h4 {
}
h5 {
}
h6 {
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: var(--font-size-large);
  }
  h2 {
    font-size: var(--font-size-medium);
  }
  h3 {
    font-size: var(--font-size-small);
  }
}

p {
  font-family: var(--font-body);
  font-size: var(--font-size-xsmall);
  line-height: 28px;
  word-spacing: 2px;
  font-weight: 400;
  color: var(--color-body);
}
a {
  color: var(--color-blue);
}

a:visited {
  color: var(--color-purple);
}

a:hover {
  color: var(--color-blue-light);
}

/* Lists */
ul {
  padding-left: var(--spacing-large);
}

ol {
  padding-left: var(--spacing-large);
}

li {
  margin-bottom: var(--spacing-small);
  color: var(--color-body);
}

/* Tables */
table {
  border-collapse: collapse;
  width: 100%;
  /* border: 1px solid #00000011; */
  border-radius: var(--radius-medium);
  overflow: hidden;
  box-shadow: 0 0 0 1px #00000011;
}

thead {
  /* background-color: var(--color-black); */
  /* color: var(--color-white); */
  border-bottom: 1px solid #00000011;
}

tbody {
}

tbody tr {
}

tbody tr:nth-child(2n) {
  background-color: var(--color-gray);
}

th {
  text-align: left;
  padding: var(--spacing-small);
}

td {
  padding: var(--spacing-small);
}

/* Forms */
form {
  display: flex;
  flex-direction: column;
}

fieldset {
  padding: var(--spacing-large);
  border-radius: var(--radius-medium);
  border: 1px solid #00000011;
  margin-bottom: var(--spacing-medium);
}

legend {
  padding: 0 var(--spacing-medium); /* Add some padding */
  font-weight: bold; /* Make the text bold */
  font-size: var(--font-size-medium);
}

@media only screen and (max-width: 600px) {
  fieldset {
    padding: var(--spacing-medium);
    min-width: auto;
  }
  legend {
    font-size: var(--font-size-small);
  }
}

label {
  display: block;
  flex: 1;
  margin-bottom: var(--spacing-small);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: "Poppins";
}

input {
  margin-bottom: var(--spacing-large);
  border-radius: var(--radius-small);
  padding: var(--spacing-small) var(--spacing-medium);
  border: none;
  background-color: var(--color-gray);
  font-family: "Poppins";
}

input:hover {
}

input:active input:focus {
  border: none;
  outline: none;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
}

input[type="password"] {
  letter-spacing: 3px;
}

input[type="submit"] {
  background-color: var(--color-black);
  color: var(--color-white);
  cursor: pointer;
  width: max-content;
  font-weight: var(--button-font-weight);
  font-size: var(--font-size-button);
}

input[type="submit"]::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f1d8";
  margin-right: var(--spacing-small);
}

input[type="submit"]:hover {
  background-color: var(--button-hover-color);
  box-shadow: var(--box-shadow-button);
}

/* Checkbox */
label:has(input[type="checkbox"]) {
  font-weight: 400;
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-size-xsmall);
  line-height: 1.8rem;
  word-spacing: 2px;
  font-weight: 400;
  color: var(--color-body);
  text-transform: none;
}

input[type="checkbox"] {
  margin: 0;
  margin-right: 4px;
}

/* File upload */
input[type="file"] {
  display: none;
}

label:has(input[type="file"]) {
  font-size: var(--font-size-button);
}

textarea {
  margin-bottom: var(--spacing-large);
  border-radius: var(--radius-small);
  padding: var(--spacing-medium);
  border: none;
  background-color: var(--color-gray);
  font-family: "Poppins";
  resize: vertical;
  min-height: 128px;
}

label:has(input[type="file"]) {
  display: flex;
  align-items: baseline;
  justify-content: center;
  text-align: center;
  padding: var(--spacing-medium);
  border-radius: var(--radius-small);
  background-color: var(--color-gray);
  cursor: pointer;
  content: attr(data-content);
  width: max-content;
  padding: var(--spacing-small) var(--spacing-medium);
  background-color: var(--color-black);
  color: var(--color-white);
  text-transform: none;
  font-weight: var(--button-font-weight);
}

label:has(input[type="file"])::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f093";
  margin-right: var(--spacing-small);
}

label:has(input[type="file"]):hover {
  box-shadow: var(--box-shadow-button);
  background-color: var(--button-hover-color);
}

button {
  color: var(--color-white);
  font-size: var(--font-size-button);
  font-weight: var(--button-font-weight);
  text-align: center;
  border: none;
  background-color: var(--color-black);
  padding: var(--spacing-small) var(--spacing-medium);
  border-radius: var(--radius-small);
  cursor: pointer;
}

button:hover {
  box-shadow: var(--box-shadow-button);
  background-color: var(--button-hover-color);
}

/* Images */
figure {
  padding: 0;
  margin: 0 0 var(--spacing-large) 0;
  border-radius: var(--radius-medium);
}

img {
  width: 100%;
  border-radius: var(--radius-medium);
  box-shadow: 3px 3px 20px 0 rgba(0, 0, 0, 0.2);
}

figcaption {
  font-style: italic;
  margin-top: var(--spacing-small);
}

/* Code */
pre {
  border-radius: var(--radius-small);
  padding: 4px var(--spacing-small) !important;
}

pre code {
  font-family: monospace;
  line-height: 1.4rem;
  font-size: 0.8rem !important;
  font-family: var(--font-mono) !important;
  max-width: 100%;
}

code {
  background-color: var(--color-gray);
  padding: 4px !important;
  font-family: var(--font-mono) !important;
  line-height: 1.4rem;
  border-radius: var(--radius-small);
  font-size: 0.8rem !important;
  display: inline-block;
  max-width: 100%;
}

@media only screen and (max-width: 600px) {
  code {
    word-wrap: break-word;
  }
}

/* Misc */
hr {
  border: none;
  height: 1px;
  background-color: #00000022;
}
